html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Muli", "Helvetica", "Arial", "sans-serif";
}

/*portfolios*/
.content{
    padding: 50px;
}

/* .card-space {
  padding: 0px 30px 30px 30px;
} */

 #work .card{
    border: 0;
    border: 0.15rem solid #64a19d;
 }

/*end of portfolios*/

.valueProp {
  margin-top: 15px;
  margin-bottom: 15px;
}

.m-0 {
  margin: 0 !important;
}

/* Navigation bar styles ============= */
#mainNav {
  border-color: rgba(34, 34, 34, 0.05);
  background-color: #64a19d;
  transition: all 0.35s;
  font-family: "Catamaran", "Helvetica", "Arial", "sans-serif";
  font-weight: 200;
  letter-spacing: 1px;
}

#mainNav .navbar-brand {
  color: #fdcc52;
  font-family: "Catamaran", "Helvetica", "Arial", "sans-serif";
  font-weight: 200;
  letter-spacing: 1px;
}

.navbar-nav {
  margin-left: auto;
  margin-right: 0 !important;
}
.nav-link {
  color: #fdcc52;
}
/*end of navigation*/

/*contact section*/
.contact-section {
  padding-top: 3rem;
}
.contact-section .card {
  border: 0;
  border: 0.25rem solid #64a19d;
}
.contact-section .card h4 {
  font-size: 0.8rem;
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}
.contact-section .card hr {
  border-color: #64a19d;
  border-width: 0.25rem;
  width: 3rem;
}
