* {
  box-sizing: border-box;
}

/*css variables*/

:root {
  --primary: rgb(58, 58, 58);
  --nav: rgb(43, 40, 40);
  --tealblue: #64a19d;
  --color-yellow: #fdcc52;
  
}

body {
  font-family: "Muli", "Helvetica", "Arial", "sans-serif";
  color: black;
  background-color: var(--primary);
}

h2{
  color: var(--color-yellow);
}


/*portfolios*/


/* Navigation bar styles*/

.head-background {

  background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 0),
    rgb(105, 95, 95)
  );
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar{
  margin-left: auto;
  margin-right: 0 !important;
  color: var(--color-yellow);
}

.navbar a{
  color: var(--color-yellow);
}
.nav-link {
  color: var(--color-yellow);
}

.navbar-nav a:hover{
  color: var(--color-yellow);
  text-decoration: underline;
}
/*end of navigation*/

/*skills section*/
.margin-tb {
  margin-top: 15px;
  margin-bottom: 15px;
}

.m-0 {
  margin: 0 !important;
}

.sideAccent {
  background: var(--tealblue);
  width: 10px;
}
.img-fluid {
  max-width: 75%;
}

.bg-light-blue {
  background-color: rgb(215, 248, 255);
}
.bg-light-green {
  background-color: rgb(221, 236, 221);
}
.bg-light-cyan {
  background-color: rgb(188, 236, 255);
}
.bg-light-orange {
  background-color: rgb(255, 236, 200);
}
.bg-light-yellow {
  background-color: rgb(250, 250, 192);
}

/*contact section*/

.contact-section .card {
  border: 0;
  border: 0.25rem solid #64a19d;
  color: black;
}

.contact-section .card h4 {
  font-size: 0.8rem;
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}
.contact-section .card hr {
  border-color: #64a19d;
  border-width: 0.25rem;
  width: 3rem;
}

 .contact-section .card a {
  color: black;
} 

.contact-section .card a:hover {
  background-color: rgb(212, 207, 207);
}

footer{
  color:var(--color-yellow);
}
